/* app css stylesheet */


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.title-bar{
	margin: -.5em -0.5em 3em -0.5em;
	background-color: #444;
	color: grey;
	padding: 1em;
  border: none; border-collapse: collapse;
}

.title-bar td{
  border-left: 2px solid #555555;
  padding: 1em;
 }

.title-bar td:first-child{
  border-left: none;
  padding: 1em;
 }
 .title-bar a{
  display:block;
 }
 


.title-link{
  color:grey;
  text-decoration: none;
}

.p-search {
	font-size: 1.5em;
	margin-bottom: 1.5em;
}


.p-searchbox {
	font-size: 1em;
  border: 0.1em solid grey;
  border-radius: 0.5em;
  padding: 0.3em;
}

.lang-form{
  margin-top: 1em;
}

.p-main {
	border: 0.1em solid grey;
  border-radius: 0.2em;
	margin-bottom: 1em;
	padding: 0.5em;
	background-color:#DDDDDD;
}
.pName{
	font-size: 2em;
	color:grey;
}
.p-main.ng-enter, .p-main.ng-move {
  transition: all 0.5s linear;
  opacity: 0;
}

.p-main.ng-enter.ng-enter-active,
.p-main.ng-move.ng-move-active {
  opacity: 1;
}

.p-main.ng-leave {
  animation: 0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
